.gg{
    color: greenyellow;
}

.h2{
    color: rgb(0, 255, 208);
}

.red{
    color: rgb(255, 81, 0);
}

.title{
    color: rgb(255, 234, 0);
}

.name1{
    color: rgb(133, 255, 11);
}

.name2{
    color: rgb(212, 255, 0);
}